@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Dongle-Regular.ttf);
  }
  @font-face {
    font-family: "font-2";
    src: url(../assets/fonts/Dongle-Light.ttf);
  }
  


$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;



@mixin alignementVertical{
    display:flex;
    justify-content: center;
    align-items: center;
    // #2f435e, #44566c, #ececec, #4b5e65, #201b22
}



