.user-list-page {
    > h2 {
      text-align: center;
      font-size: 1.9rem;
      letter-spacing: 1px;
      color:white;
      span {
        font-size: 1rem;
      }
    }
    .result {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

.bodyAppCinema{
  background-color: #212040;
  font-family: $font-1;
  min-height: 1000px;

  .menu > a{
    text-decoration: none;
    color:white;
  }
  
 
}
