.projet{
    border: black solid 1px;
    margin: 2px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 300px;
    
}
.projet:hover{
    background:linear-gradient(to top,#1369dad3,rgba(236, 236, 236, 0.884) 100%)
}